.footer-container {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* background-size: cover; Ensures the background image covers the entire element */
    /* background-repeat: no-repeat; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .logo {
    width: 200px;
    height: auto;
  }
  
  .logo:hover {
    cursor: pointer;
    opacity: 0.5;
  }